p {
    font-size: large;
    text-align: center;
}
#paxton {
    border-radius: 50%;
    margin-right: 5px;
}
#robbie{
    border-radius: 50%;
    margin-right: 5px;
}
#harris{
    border-radius: 50%;
    margin-right: 5px;
}
#anthony{
    border-radius: 50%;
}