  .settings {
    display: flex;
    justify-content: space-around;
  }
  .SetTimer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
    top: 30px;
  }
  
  .SetTimer-controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Timer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .Controls {
    display: flex;
    justify-content: center;
  }
  .lead{
    font-weight:bold;
    position: relative;
    top: 10px;
    text-shadow: -1px -1px 0 #FC0, 1px -1px 0 #FC0, -1px 1px 0 #FC0, 1px 1px 0 #FC0;

  }
  hr{
    margin-bottom: 25px;
  }
  #pomClock{
    position: relative;
    top: -25px;
    text-shadow: -1px -1px 0 #FC0, 1px -1px 0 #FC0, -1px 1px 0 #FC0, 1px 1px 0 #FC0;
    font-weight:bold;
  }
  .jumbotron-fluid{
    position:relative;
    top: 20px;
    text-align: center;
    height:260px;
    background-image:url("./clock.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x:hidden; 
  }
  

 
  .timerText{
    font-weight:bold;
    color:red;
  }